@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(32, 3, 37);
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Particles */
#canvas-container {
  position: relative;
}

/* Random Rune */
#title {
  position: absolute;
  text-align: center;
  font-size: 8rem;
  top: 1rem;
  left: 50%;
  width: 150%;
  transform: translate(-50%);
}

#instructions {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  top: 10rem;
}

#runic-result {
  position: absolute;
  font-size: 8rem;
  top: 20rem;
  left: 50%;
  transform: translate(-50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.invisible {
  animation: fadeOut 3s;
  opacity: 0;
}

.visible {
  animation: fadeIn 3s;
  opacity: 1;
}

#begin-button {
  position: absolute;
  font-family: "Baloo Bhaina 2", cursive;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 10px 48px 6px 48px;
  border-radius: 4px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  outline: none;
  top: 30rem;
  left: 50%;
  transform: translate(-50%);
}

#begin-button:hover {
  background-color: darkgreen;
}

#rune-data {
  position: absolute;
  top: 32rem;
  font-size: 1.5rem;
  margin: 3rem 1rem;
  font-family: "Baloo Bhaina 2", cursive;
}
