@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(32, 3, 37);
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 415px) {
  body {
    min-width: 360px;
  }
}

@media (max-width: 768px) {
  body {
    min-width: 1024px;
  }
}

/* Particles */
#canvas-container {
  position: relative;
}

/* Random Rune */
#title {
  position: absolute;
  text-align: center;
  font-size: 8rem;
  top: 1rem;
  left: 50%;
  width: 150%;
  transform: translate(-50%);
}

@media (max-width: 415px) {
  #title {
    font-size: 3rem;
    left: 50%;
    width: 360px;
  }
}

@media (max-width: 768px) {
  #title {
    font-size: 5rem;
    width: 768px;
  }
}

#instructions {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  top: 10rem;
  width: 100%;
}

@media (max-width: 415px) {
  #instructions {
    font-size: 1rem;
    top: 5rem;
    left: 50%;
    width: 360px;
    transform: translate(-50%);
  }
}

@media (max-width: 768px) {
  #instructions {
    font-size: 2rem;
    width: 768px;
    top: 7rem;
  }
}

#runic-result {
  position: absolute;
  font-size: 8rem;
  top: 20rem;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 415px) {
  #runic-result {
    font-size: 4rem;
    top: 8rem;
    left: 50%;
  }
}

@media (max-width: 768px) {
  #runic-result {
    font-size: 5rem;
    top: 12rem;
  }
}

.invisible {
  animation: fadeOut 3s;
  opacity: 0;
}

.visible {
  animation: fadeIn 3s;
  opacity: 1;
}

#begin-button {
  position: absolute;
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 10px 48px 6px 48px;
  border-radius: 4px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  outline: none;
  top: 30rem;
  left: 50%;
  transform: translate(-50%);
  opacity: 1;
  transition: opacity 3s;
}

@media (max-width: 415px) {
  #begin-button {
    top: 13rem;
    left: 50%;
    opacity: 1;
    transition: opacity 3s;
  }
}

@media (max-width: 768px) {
  #begin-button {
    top: 18rem;
  }
}

#begin-button:hover {
  background-color: darkgreen;
}

#begin-button:disabled {
  opacity: 0.5;
  transition: opacity 3s;
}

#rune-data {
  position: absolute;
  top: 32rem;
  font-size: 1.5rem;
  margin: 3rem 1rem;
  font-family: "Baloo Bhai 2", sans-serif;
}

@media (max-width: 415px) {
  #rune-data {
    font-size: 0.9rem;
    top: 15rem;
    opacity: 1;
    transition: opacity 3s;
  }
}

@media (max-width: 768px) {
  #rune-data {
    font-size: 1.5rem;
    width: 768px;
    top: 20rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
